<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org">
<head>
<title>mathapp регистрация</title>
</head>
<body>
	<h1>mathapp регистрация</h1>
	
		<div th:text="${messageUserExist}">пользователь уже существует</div>
	    <div th:text="${messageUserCreated}">пользователь зарегистрирован</div>
	<form th:action="@{/registration}" method="post" th:object="${user}">
			<label for="username"> User Name : </label>
			<input type="text" th:field="*{username}" id="username" />
			<div  th:if="${#fields.hasErrors('username')}" th:errors="*{username}">name error</div>
			<br>
			<label for="password"> Password: </label>
			<input type="password" th:field="*{password}" id="password" />
			<div th:if="${#fields.hasErrors('password')}" th:errors="*{password}">password error</div>
			
			<br>
			<input type="submit" value="Cоздать пользователя" />
	</form>
	 <a href="/login">Авторизация</a>
	<p></p>
</body>
</html>