<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>testlist</title>
</head>
<body>
	<h1>testing !put and back</h1>
	<p th:text="${message}"></p>
	<table border="1" cellpadding="10">
		<thead>
			<tr>
				<th>mc.getOne</th>
				<th>mc.getTwo</th>
				<th>mc.getResult</th>
				<th>form</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td th:text="${mc.getOne()}"></td>
				<td th:text="${mc.getTwo()}"></td>
				<td th:text="${mc.getResult()}"></td>
				<td>
					<form th:method="post" th:action="@{/test}" th:object="${mc}">
						<label for="userresult">enterresult:</label> 
						<input type="text" th:field="*{userresult}" id="userresult"/>
						<br/>
						<input type="submit" value="submit"/>
					</form>
				</td>
			</tr>
		</tbody>
	</table>
</body>
</html>