<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>testresult</title>
</head>
<body>
	<h1>testing put and !back</h1>
	<p th:text="${message}"></p>
	<table border="1" cellpadding="10">
		<thead>
			<tr>
				<th>mc.getOne</th>
				<th>mc.getTwo</th>
				<th>mc.getResult</th>
				<th>mc.getUserresult</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td th:text="${mc.getOne()}">show</td>
				<td th:text="${mc.getTwo()}">show</td>
				<td th:text="${mc.getResult()}">show</td>
				<td th:text="${mc.getUserresult()}">show userresult</td>
			</tr>
		</tbody>
	</table>
</body>
</html>